@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  perspective: 1000px; /* Tạo chiều sâu cho hiệu ứng lật */
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s; /* Thời gian lật */
  transform-style: preserve-3d; /* Bảo tồn 3D cho phần tử con */
}

.card:hover .card-inner {
  transform: rotateY(360deg); /* Lật 360 độ khi hover */
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Ẩn mặt sau */
}

.card-front {
  z-index: 2; /* Đảm bảo mặt trước ở trên cùng */
}

.card-back {
  transform: rotateY(180deg); /* Đảo ngược mặt sau */
  background-color: rgba(255, 255, 255, 0.8); /* Màu nền với độ trong suốt */
}
